.container {
    margin: 10px;
    width: 700px;
    height: 800px;
    background-color: rgba(17, 255, 184, 0.404);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div_one {
    display: flex;
    flex-direction: row;
    margin: 10px;
}